input,
select {
  display: block;
  margin: 15px 0;
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
}

input:focus,
select:focus {
  border-color: var(--btn-primary);
  outline: none;
}

.custom-select {
  padding: 10px;
  font-size: 16px;
  border: 2px solid var(--btn-primary);
  border-radius: 5px;
  background-color: #fff;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}

.custom-select:hover {
  border-color: var(--btn-primary-hover);
  background-color: #0057b308;
}
